server:
  port: 5000
  servlet:
    context-path: /api/v1.0
knife4j:
  enable: true
  openapi:
    title: Mellion-Admin后台管理系统服务接口
    description: "使用knife4j搭建的后台服务API接口文档"
    email: MellionPG@outlook.com
    concat: MellionPG
    version: v1.0
    terms-of-service-url: http://localhost:5000
    group:
      system:
        group-name: 全部接口
        api-rule: package
        api-rule-resources:
          - com.mellion.admin
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mellion_admin?useSSL=false&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  redis:
    database: 0
    host: localhost
    port: 6379
    password: 123456
    jedis:
      pool:
        min-idle: 3
        max-idle: 8
        max-active: 10
mybatis-plus:
  mapper-locations: /mapper/**/*.xml
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
    banner: false
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    com.mellion.admin.server.test.mapper: debug